$mPrimaryColor = $bluegrey800
$placeholderColor = #565D7F
$backgroundDarkColor = #1D202F
$backgroundLightDarkColor = #272B3F
$borderDarkColor = #1D202F
$highlightDarkColor = #5480FF
$textDarkColor = #565D7F
$errorColor = $red500
$goodColor  = $cyan500
$buttonBorderColor = #3A405E
$checkboxBorderColor = #3A405E
$checkboxCheckedBackgroundColor = #5480FF
$checkboxCheckedForegroundColor = $white
$dashMenuDarkColor = #13151E
$dashFooterDarkColor = #181B27
$tokenCardGradient1Color = #373C53
$tokenCardGradient2Color = #272B3F
$pickerPickedColor  = rgba(29, 226, 160, .7)
$ustColor = #E2D573
$transitionTime = 400ms

