// element dimensions
$themeElementHeight  = 2em
$themeElementPadding = 1em
$themeBorderRadius   = 2px

// colors
$themeAccentColor = #0091ea
$themeBGColor = #EEE
$themeTextColor = #000
$themeTextColorInverted = #FFF
$themeGoodColor = rgb(0, 188, 212) // #17BEBB //#0091ea //#76ff03 //#75DBCD // #28AFB0
$themeErrorColor = rgb(244, 67, 54)

$themeBorderColor = $themeTextColor
$themeModalColor = rgba(0,0,0,0.8)

// inputs
$themeInputBorderWidth = 1px

// buttons
$themeButtonColor = $themeTextColorInverted
$themeButtonBorderColor = $themeTextColor
$themeButtonBGColor = $themeAccentColor

// timing
$themeTransitionTime = 400ms
