.form
  text-align: left
  color: $themeTextColor
  width: 100%
  display: table

  .fields
    display: flex
    flex-direction: column

  .inline-fields
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start

    & > *
      display: block !important
      flex: 1
      margin-left: $themeElementPadding * .5
      margin-right: $themeElementPadding * .5

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

  .error
    margin: ($themeElementPadding * 0.5) 0
    font-size: .75em
    line-height: 1em
    width: 100%
    color: $themeErrorColor

  &.validating
  &.loading
    .input input
    .input select
    .input textarea
    .checkbox checkbox
    .button
      opacity: .5
      pointer-events: none

.secured-text
  +mobile()
    span
      display: none

.input
  margin-bottom: .5em

